.container {
    padding: 40px 82px;
    background-color: #5F6F94;
}

.navegador {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.tituloPagamento {
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: #FEF5AC;
    text-decoration: underline;
}